{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="d-flex flex-column flex-grow-1 justify-content-center p-4 bg-dark text-white">
        <h1 class="align-self-center">Location de véhicules</h1>
        <h2 class="align-self-center fs-4">Le choix parfait pour votre voyage</h2>
    </div>
{% endblock %}