{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}
    <div class="d-flex flex-grow-1 flex-column m-4">
        <div class="d-flex flex-column flex-grow-1 justify-content-center p-4 text-black">
            <h1 class="align-self-center">Type {{ type.name }}</h1>
            <h2 class="align-self-center fs-4">Informations du type</h2>
        </div>
        <div class="d-flex flex-column flex-grow-1 justify-content-center p-4 text-black">
            <div class="d-flex flex-grow-1 flex-row justify-content-evenly">
                <h3 class="align-self-center">Nom</h3>
                <p class="align-self-center">{{ type.name }}</p>
            </div>
            <a href="{{ path('admin_type_index') }}" class="align-self-center col-1 btn btn-primary">Retour</a>
        </div>
    </div>
{% endblock %}