<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="d-flex flex-column flex-grow-1 justify-content-center p-4 bg-dark text-white">
            <h1 class="align-self-center">Location de véhicules</h1>
            <h2 class="align-self-center fs-4">Le choix parfait pour votre voyage</h2>
        </div>
        <div class="container d-flex justify-content-center bg-light">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
